.blog-form {
    display: flex;
    flex-direction: column;
}

.blog-form form {
    display: flex;
    flex-direction: column;
    padding: 5px 2px;
    min-width: 40vw;
}

input {
    padding: 2px;
    margin-bottom: 10px;
    border: 1px solid;
    border-radius: 5px;
}

textarea {
    padding: 2px;
    margin-bottom: 10px;
        border: 1px solid;
    border-radius: 5px;
}