@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Quicksand:wght@300..700&family=Rock+Salt&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

* {
    font-family: "Quicksand", 'Monterro', Times, serif;
    box-sizing: border-box;
}

:root {
    --darkPrimary: #292d33;
    --yellow: #f2d351;
    --opYellow: #f8e9a7;
    --offWhite: #efefef;
    --blue: #95a9f0;
    --opBlue: #bfcbf6;
}

body {
    font-family: "Quicksand", 'Monterro', Times, serif;
    line-height: 1.5;
    margin: 0px;
    padding: 10px;
}

header {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    height: 91px;
}

nav {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
}

.footer {
    font-family: 'Rock Salt';
    font-weight: bold;
    text-decoration: none;
}

.main {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 80vh;
}

.main div {
    padding: 5%;
}

.dark {
    background-color: var(--darkPrimary);
    color: var(--offWhite);
    .footer {
        color: var(--yellow);
    }
    #blog-button, #back-button, #submit {
        background-color: var(--yellow);
    }
}

.light {
    background-color: var(--offWhite);
    color: var(--darkPrimary);
    .footer {
        color: var(--blue);
    }    
    #blog-button, #back-button, #submit {
        background-color: var(--blue);
    }
}

#main-image {
    max-height: 300px;
    max-width: 300px;
}

#blog-button {
    margin-right: 10px;
    width: 70px;
    border: 1px solid;
    border-radius: 5px;
    /* background-color: var(--blue);
    color: var(--darkPrimary); */
    font-weight: bold;
    height: 30px;
}

/* ============================================================================================================================================= */
/* Styling the Switch button */
.switch {
    position: relative;
    display: inline-block;
    width: 34px;
    height: 34px;
}

  /* Hide default HTML checkbox */
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

/* The slider */
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: var(--darkPrimary);
    -webkit-transition: .4s;
    transition: .4s;
}

.slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    transition: .4s;
}

input:checked + .slider {
    background-color: var(--offWhite);
}

input:focus + .slider {
    box-shadow: 0 0 1px var(--offWhite);
}

/* Rounded sliders */
.slider.round {
    border-radius: 34px;
}

.slider.round:before {
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Material Icons";
    content: "\eb37";
    font-size: 2rem;
    color: var(--blue);
}

.row {
    margin: 20px;
    display: flex;
}
.col {
    margin: 20px;
}